.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  height: 100vh;
  background-size: cover;
  padding-top: 20px;
  color: aliceblue;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  height: 4vh;
  margin-top: 20px;
  width: 17vw;
}
